{% extends "store/base.html" %}

{% block title %}Acreditaciones{% endblock %}

{% block content %}
<div class="acreditation-container">
    <div class="form-container">
        <h1>Acreditaciones</h1>
        <form method="post" action="{% url 'acreditation' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enviar</button>
        </form>
    </div>
    <div class="acreditation-list">
        <h2>Lista de Acreditaciones</h2>
        <ul>
            {% for acreditation in acreditations %}
                <li>
                    {{ acreditation.name }} {{ acreditation.surname }} - {{ acreditation.email }} - {{ acreditation.address }} {{ acreditation.address_number }} - {{ acreditation.media_outlet }}
                    <a href="{% url 'edit_acreditation' acreditation.pk %}">Editar</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
